<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="status"></div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="fb-like" data-width="450" data-show-faces="true"></div>


  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="contactLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="contactBody" class="modal-body">
          <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="fb-root"></div>
  <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="/javascripts/facebook.js"></script>
  </body>
</html>
